---
# Front matter comment to ensure Jekyll properly reads file.
---

@charset "utf-8";

/*

Base framework we're using is Bulma. (bulma.io - v0.6.2)

We don't need everything so some of this is commented out.
If you want to add something then you can uncommment.

The Bulma code is in the _sass/bulma folder.
The custom Queer Code code is in _sass/queercode folder.

To keep it so we can use Bulma, it is set up so you'd override any
Bulma code with equivilant custom code.

*/

// utilities

@import "bulma/utilities/initial-variables";
@import "bulma/utilities/functions";
@import "bulma/utilities/derived-variables";
@import "bulma/utilities/animations";
@import "queercode/utilities/animations";
@import "bulma/utilities/mixins";
@import "bulma/utilities/controls";

// base

@import "bulma/base/minireset.sass";
@import "bulma/base/generic.sass";
@import "bulma/base/helpers.sass";

// elements

// @import "bulma/elements/box";
@import "bulma/elements/button";
@import "queercode/elements/button";
@import "bulma/elements/container";
@import "bulma/elements/content";
@import "queercode/elements/content";
// @import "bulma/elements/form";
// @import "bulma/elements/icon";
// @import "bulma/elements/image";
// @import "bulma/elements/notification";
// @import "bulma/elements/progress";
// @import "bulma/elements/table";
// @import "bulma/elements/tag";
@import "bulma/elements/title";

// @import "bulma/elements/other";

// components

// @import "bulma/components/breadcrumb";
// @import "bulma/components/card";
// @import "bulma/components/dropdown";
// @import "bulma/components/level";
// @import "bulma/components/media";
// @import "bulma/components/menu";
// @import "bulma/components/message";
// @import "bulma/components/modal";
@import "bulma/components/navbar";
@import "queercode/components/navbar";
// @import "bulma/components/pagination";
// @import "bulma/components/panel";
// @import "bulma/components/tabs";
@import "queercode/components/places";

// grid

@import "bulma/grid/columns";
// @import "bulma/grid/tiles";

// layout

@import "bulma/layout/footer";
@import "queercode/layout/footer";
// @import "bulma/layout/hero";
@import "queercode/layout/hero";
// @import "bulma/layout/section";
