---
title: Events
layout: default
---

{% assign current_time = "now" | date: "%s" %}
<h1 class="title is-2">Upcoming events</h1>
<div class="event-list">
{% for event_hash in site.data.events %}
{% assign event = event_hash[1] %}
{% assign end_time = event.end | date: "%s" %}
{% if end_time > current_time %}
{% include event-box.html event=event %}
{% endif %}
{% endfor %}
</div>

<h1 class="title is-2">Past events</h1>
<div class="event-list">
{% for event_hash in site.data.events %}
{% assign event = event_hash[1] %}
{% assign end_time = event.end | date: "%s" %}
{% if end_time <= current_time %}
{% include event-box.html event=event %}
{% endif %}
{% endfor %}
</div>
