---
layout: post
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Queer Code</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!--[if IE]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" charset="utf-8">
	<![endif]-->
    <script src="https://use.fontawesome.com/f6bb52323c.js"></script>
</head>
<body>
	<div id="background">
		<div id="page">
			{% include header.html %}
			<div id="contents">
				<div id="adbox">
					<img src="images/rainbow_flag.jpg" alt="Img" height="456" width="960">
				</div>
				<div class="header">
					<div id="sidebar">
						<h2>Blog Update</h2>
						<div>
							<div class="section">
								<div class="body">
									<h5><a href="blog.html">This is just a place holder</a></h5>
									<p>
										You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
									</p>
									<span>August 00, 2012</span> <span class="author">by: This is just a place holder</span>
								</div>
							</div>
							<div class="section">
								<div class="body">
									<h5><a href="blog.html">This is just a place holder</a></h5>
									<p>
										You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
									</p>
									<span>August 00, 2012</span> <span class="author">by: This is just a place holder</span>
								</div>
							</div>
						</div>
						<span><a href="blog.html" class="more">All Blog Post</a></span>
					</div>
					<p>
						We've come together to connect and support queer people (of all flavors) working in jobs related to software development.
					</p>
				</div>
				<div id="featured">
					<h2>Local Communities</h2>
					<p>
						See what's up in your city...
					</p>
					<ul>
						<li>
							<img src="images/city_berlin.jpg" alt="Img" height="167" width="280">
							<p>
								We just had our first meetup.
							</p>
							<span><a href="programs.html" class="more">See what's next</a></span>
						</li>
						<li>
						<img src="images/city_london.jpg" alt="Img" height="167" width="280">
							<p>
								Starting soon...
							</p>
							<span><a href="programs.html" class="more">Stay tuned</a></span>
						</li>
					</ul>
				</div>
			</div>
			{% include footer.html %}

		</div>
	</div>
</body>
</html>