{% assign event = include.event %}
{% assign location = site.data.venues[event.location] %}
<div class="box content">
  <p><strong class="is-size-4">{{ event.name }}</strong></p>
  <table>
    <tr>
      <td><span class="globe" /></td>
      <td>{{event.hostGroup}}</td>
    </tr>
    <tr>
      <td><span class="clock" /></td>
      <td>
        {%- if event.start %}
        {{ event.start | date: "%A, %B %-d %Y %l:%M%P" }}</td>
      {%- else %}
      <abbr title="To be confirmed">TBC</abbr></span>
        {%- endif %}
        </td>
    </tr>
    <tr>
      <td><span class="location" /></td>
      <td>
        {%- if event.location %}
        {{ location.name }}
        <br />
        {{ location.address }}
        {%- else %}
        <abbr title="To be confirmed">TBC</abbr>
        {%- endif %}
      </td>
    </tr>
  </table>
  {% if event.description %}
  <p>{{ event.description }}</p>
  {% endif %}
  {% if event.signupUrl %}
  <p><a href="{{event.signupUrl}}">Find out more</a></p>
  {% endif %}
</div>
