<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!--[if IE]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" charset="utf-8">
    <![endif]-->
    <script src="https://use.fontawesome.com/f6bb52323c.js"></script>
</head>
<body>
<div id="background">
    <div id="page">


        <div id="header">
            <ul id="navigation">
                <li class="selected">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="mission.html">Mission</a>
                </li>
                <li>
                    <a href="berlin.html">Berlin</a>
                </li>
                <li>
                    <a href="london.html">London</a>
                </li>
                <li>
                    <a href="coc.html">CoC</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
            <div id="logo">
                <img src="images/logo_small.png"><a href="index.html">Queer Code</a>
            </div>
        </div>
