<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <link rel="manifest" href="/manifest.json">

  <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="css/styles.css"/>
 
  <meta property="og:url" content="https://queer-code.org">
  <meta property="og:image" content="images/people.jpg">
  <meta name="twitter:card" content="summary">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{{ site.description }}">

  <script defer src="js/scripts.js"></script>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="container is-fluid">
  <div class="navbar-brand">
    <a class="navbar-item navbar-item--logo" href="/">
      <img src="images/logo.png" alt="Queer Code logo" />
      Queer Code
    </a>

    <div class="navbar-item navbar-item--menu-button" data-target="navMenu">
      <i class="fa fa-bars" aria-hidden="true"></i>
      Menu
    </div>
  </div>

  <div class="navbar-menu is-active" id="navMenu">
    <div class="navbar-end">
      <span class="navbar-item navbar-item--slack">
        <script async defer src="https://slackinvite-qcldn.herokuapp.com/slackin.js"></script>
      </span>
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="mission">
        Mission
      </a>
      <a class="navbar-item" href="coc">
        Code of Conduct
      </a>
    </div>
  </div>
</div>
</nav>