<div id="sidebar">
    <h2>News</h2>
    <div id="event-list">
        {% for post in site.posts %}
        <div class="section">
            <div class="body">
                <h5><a href="{{ post.url }}">{{ post.title }}</a> <span>{{ post.date | date: "%B %-d %Y" }}</span></h5>
                {{ post.excerpt }}
                <span class="author">by: {{ post.author }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <span><a href="/posts.html" class="more">All Posts</a></span>
</div>