.hero {
  margin-left: 10px;
  margin-right: 10px;
  padding: 1em 1em 2em;
  background-color: #FFE9F6;
  border-radius: 5px;
}

.hero .title {
  font-size: 3.5em;
}

.hero .subtitle {
  max-width: 35em;
}

.hero .button {
  font-size: 1.5em;
}


