.hero {
  padding: 1rem 1rem 2rem 0.75rem;
  border-radius: 5px;
}

.hero .title {
  font-size: 3.5em;
}

.hero .subtitle {
  max-width: 35em;
}

.hero .button {
  font-size: 1.5em;
}

.home-image {
  width: 100%;
  vertical-align: center;
}

@media (min-width: 770px) {
  .home-image {
    border-radius: 8px;
    transform: translateY(1em) translateX(4em) rotate(-5deg);
  }
}
