body {
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  margin: 0;
}

section {
  margin: 20px 0;
  background-color: lightgrey;
  padding: 20px 40px;
}

nav a {
  color: black;
  font-size: 0.8em;
}

nav ul {
	margin: auto;
	width: 900px;
  list-style: none;
  display: flex;
}

h1, h2, h3, h4 {
  text-align: center;
}

li {
  line-height: 1.5em;
}

#sign-up {
  background-color: #EDDEA4;
}

#what-is-it {
  background-color: #0FA3B1;
	color: white;
}

#what-is-it a {
	color: white;
}

#what-is-it a:hover {
	color: #ccc;
}

#what-is-it a:visited {
	color: #ccc;
}

#when-where {
  background-color: #D9E5D6;
}

#sponsors {
  background-color: #EDB458;
}

#faq {
  background-color: #57B26E;
	color: white;
}

#contact {
  background-color: #EDDEA4;
  text-align: center;
}

#contact img {
  vertical-align: middle;
  margin-right: 20px;
}

#contact .cta {
  background-color: #EDB458;
  color: black;
}

#contact .cta:hover {
  background-color: #FEC569;
}

.join-us {
  margin-bottom: 30px;
  margin-right: 20px;
}

.navigation li {
  margin-right: 20px;
}

.buttons {
  padding-top: 40px;
  text-align: center;
}

.cta {
  background-color: #57B26E;
  text-decoration: none;
  color: #F4F9F0;
  font-size: 1.2em;
  padding: 1.3483333333em;
  text-align: center;
  display: inline-block;
  transition: linear 0.5s;
  border-radius: 4px;
  margin: 10px;
}

.cta:hover {
  background-color: #7EC486;
}

.when-where-details {
  display: flex;
}

.timing, .location {
  width: 50%;
}

.logos {
  width: 607px;
  margin: 0 auto;
}
.sponsor-logo {
  width: 300px;
  vertical-align: middle;
}

.question {
  font-weight: 700;
}

.community-logos {
  display: flex;
  width: 816px;
  margin: 0 auto 40px;
}

.community-logo {
  height: 200px;
}

.loc {
  margin-right: 35px;
}

@media screen and (max-width: 768px) {
	nav ul {
		display: block;
	}

	.community-logos {
		display: block;
		width: 100%;
	}

  #sign-up img {
		display: block;
		margin: auto;
	}

  #sign-up h3 {
		display: block;
		clear: both;
	}

  #buttons {
    width: 100%;
	}

  .cta {
    display: block;
	}

	.when-where-details {
		display: block;
	}

	.timing, .location {
		width: 100%;
	}

  .logos {
    width: 100%;
  }

  .logos img {
    display: block;
		margin: auto;
	}
}
