.place {
  padding: 10px;
}

.place .title {
  font-size: 3em;
}

.places .links {
  padding: 1em 0;
}

.place .button {
  width: 100%;
  font-size: 1.25em;
  justify-content: left;
}

.place .image {
  border-radius: 5px;
}
