.places > .title {
  font-size: 3em;
  padding: 1rem;
}

.place {
  padding: 1em;
}

.place .title {
  margin-bottom: 1em;
}

.places .links {
  padding: 1em 0;
}

.place .button {
  width: 100%;
  font-size: 1.25em;
  justify-content: left;
}