.places > .title {
  font-size: 2em;
  margin-left: 10px;
  margin-top: 20px;
}

.place {
  padding: 10px;
}

.place >* .title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.places .links {
  padding: 1em 0;
}

.place .button {
  width: 100%;
  font-size: 1.25em;
  justify-content: left;
}

.place .image {
  border-radius: 5px;
}
