.slack {
  padding: 3em 1em;

  background: #fbfbfb;
}

.slack .logo {
  width: 8em;
}

/* this is kinda naff, doing a negative margin */
@media (min-width: 1024px) {
  .slack {
    margin: 0 -2em;
    padding: 3em;
  }
}